node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/creds

/pyBackend/.venv

# Any prisma database
prisma/*.db

# cached audio files
audio-cache/*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


/pyBackend/__pycache__